<%- include("include/header"); %>
<main id="main">
  <div id="contents">
    <h2 class="title"><%= title %></h2>
    <div class="mainImg"></div>

    <div class="btns">
      <a href="/join">회원가입</a>
      <a href="/login">로그인</a>
      <a href="/list">목록</a>
      <a href="/insert">글 쓰기</a>
    </div>
  </div>
</main>
<%- include("include/footer"); %>
