<%- include("include/header");%>

<main id="main">
  <div id="contents">
    <form action="/register" method="POST" id="join" class="formBox" enctype="multipart/form-data">
      <div class="inputBox">
        <label>
          <span class="label">title</span>
          <input type="text" id="title" name="title" placeholder="제목을 입력하세요." />
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">백그라운드</span>
          <input type="text" id="bg" name="bg" placeholder="백그라운드" />
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">설명</span>
          <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">링크</span>
          <input type="text" id="link" name="link" />
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">카테고리</span>
          <div>
            <span>mario</span>
            <input type="radio" class="category" name="category" value="mario" />
          </div>
          <div>
            <span>monster</span>
            <input type="radio" class="category" name="category" value="monster" />
          </div>
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">대표이미지</span>
          <input type="file" name="image" id="image" />
          <!-- file여러개올릴때는 multiple추가 -->
        </label>
      </div>
      <div class="btns">
        <button id="btnJoin">확인</button>
        <button type="reset" class="red"><a href="/" class="red02">취소</a></button>
      </div>
    </form>
  </div>
</main>

<%- include("include/footer");%>
