<%- include("include/header");%>
<main id="main">
  <div id="contents">
    <h2 class="title"><%= title %></h2>

    <form action="/register" method="POST" id="join" class="formBox">
      <div class="inputBox">
        <label>
          <span class="label">ID</span>
          <input type="text" id="userID" name="userID" placeholder="아이디를 입력하세요." />
          <button id="btnIdCheck">아이디 중복확인</button>
          <!-- <p id="error">사용 할 수 없는 아이디입니다.</p>
          <p id="notError">사용 가능한 아이디입니다.</p> -->
        </label>
        <!-- <p class="desc">8자 이상의 아이디를 입력해주세요.</p> -->
      </div>
      <div class="inputBox">
        <label>
          <span class="label">Password</span>
          <input type="password" id="userPW" name="userPW" placeholder="비밀번호를 입력하세요." />
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">Name</span>
          <input type="text" id="userName" name="userName" placeholder="이름을 입력하세요." />
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">Email</span>
          <input type="text" id="userEmail" name="userEmail" placeholder="이메일을 입력하세요." />
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">Address</span>
          <div>
            <div class="zipCodeBox"><input type="text" id="zipCode" name="zipCode" placeholder="우편번호" readonly /> <button id="btnZipCode">우편번호 찾기</button></div>
            <input type="text" id="address01" name="address01" />
            <input type="text" id="address02" name="address02" />
          </div>
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">성별</span>
          <div class="genderBox">
            <div><input type="radio" id="male" name="gender" value="남자" /><span>남자</span></div>
            <div><input type="radio" id="female" name="gender" value="여자" /><span>여자</span></div>
          </div>
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">직업</span>
          <select name="job" id="userJob">
            <option value="학생">학생</option>
            <option value="프로그래머">프로그래머</option>
            <option value="회사원">회사원</option>
            <option value="디자이너">디자이너</option>
            <option value="기획자">기획자</option>
          </select>
        </label>
      </div>
      <div class="btns">
        <button id="btnJoin">회원가입</button>
        <button type="reset" class="red"><a href="/" class="red02">취소</a></button>
      </div>
    </form>
  </div>
</main>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  let isIdChecked = false;
  $("#btnZipCode").on("click", () => {
    new daum.Postcode({
      oncomplete: function (data) {
        let roadAddr = data.roadAddress; // 도로명 주소 변수
        let extraRoadAddr = ""; // 참고 항목 변수

        $("#zipCode").val(data.zonecode);
        $("#address01").val(roadAddr);
      },
    }).open();
    return false;
    // form안에 있는 모든버튼은 submit역할을 해 버튼누르는 순간 다른페이지로 날아가는데 그것을방지하기위해 return false
  });

  // $("#btnJoin").on("click", () => {
  //   $.ajax({
  //     url: "/registerAjax",
  //     data: {
  //       userID: $("#userID").val(),
  //       userPW: $("#userPW").val(),
  //     },
  //     method: "POST",
  //   }).done((response) => {
  //     console.log(response);
  //     if (response.isJoin) {
  //       // alert("회원가입이 완료되었습니다.");
  //       // location.href = "/login";
  //       location.href = "/success";
  //     }
  //   });
  // });
  // ----------------------- 아이디 중복확인 -------
  $("#btnIdCheck").on("click", () => {
    if ($("#userID").val().length > 7) {
      $.ajax({
        url: "/idCheck",
        method: "POST",
        data: {
          userID: $("#userID").val(),
        },
      }).done((response) => {
        //console.log(response);
        if (response.isOk) {
          // alert("쓸수 있는 아이디 입니다."); // 확인탭만
          // confirm("쓸수 있는 아이디 입니다."); // 확인,취소탭
          const result = confirm("쓸수 있는 아이디 입니다.");
          if (result) {
            $("#userID").attr("readonly", true);
            isIdChecked = true;
          } else {
            $("#userID").focus();
            $("#userID").val("");
            isIdChecked = false;
          }
        } else {
          //alert("쓸수 없는 아이디 입니다.");
          console.log("쓸 수 없는 아이디 입니다.");
          $("#userID").val("");
          $("#userID").focus();
        }
      });
    } else {
      alert("아이디는 8글자 이상이어야 합니다.");
      $("#userID").focus();
    }
    return false;
  });

  // $("#userID").on("keyup", () => {
  //   if ($("#userID").val().length > 7) {
  //     $.ajax({
  //       url: "/idCheck",
  //       method: "POST",
  //       data: {
  //         userID: $("#userID").val(),
  //       },
  //     }).done((response) => {
  //       // console.log(response);
  //       if (response.isOk) {
  //         console.log(response.isOk);
  //         $("#userID").val("");
  //         $("#userID").focus();
  //       } else {
  //         alert("아이디는 8글자 이상이어야 합니다.");
  //         $("#userID").focus();
  //       }
  //     });
  //     return false;
  //   }
  // });

  $("#btnJoin").on("click", () => {
    if ($("#userID").val().trim().length < 8) {
      alert("아이디는 최소 8자 이상이어야 합니다.");
      $("#userID").focus();
      return false;
    } else if (isIdChecked === false) {
      alert("ID 중복체크를 해주세요.");
      return false;
    } else if ($("#userPW").val().trim().length < 8) {
      alert("비밀번호는 최소 8자 이상이어야 합니다.");
      $("#userPW").focus();
      return false;
    } else if ($("#userName").val().trim().length < 2) {
      alert("이름은 최소 2자 이상이어야 합니다.");
      $("#userName").focus();
      return false;
    } else if ($("#userEmail").val().trim().length <= 0) {
      $("#userEmail").focus();
      return false;
    }
  });
</script>
<%- include("include/footer");%>
