<%- include("include/header");%>

<main id="main">
  <div id="contents">
    <h2 class="title"><%= title %></h2>
    <div class="success">
      <p>회원가입이 완료되었습니다.</p>
      <a href="/login">로그인 페이지로 바로가기</a>
    </div>
  </div>
</main>
<%- include("include/footer");%>
