@charset "UTF-8";
/*
여기도주석입니다.
여기도주석입니다.
*/
#header {
  color: "$font-color";
  background-color: "$gray-color";
}

#mainVisual .slogan {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 1px 1px 0px rgb(0, 0, 0),2px 2px 0px rgb(0, 0, 0),3px 3px 0px rgb(0, 0, 0),4px 4px 0px rgb(0, 0, 0),5px 5px 0px rgb(0, 0, 0),6px 6px 0px rgb(0, 0, 0),7px 7px 0px rgb(0, 0, 0),8px 8px 0px rgb(0, 0, 0),9px 9px 0px rgb(0, 0, 0),10px 10px 0px rgb(0, 0, 0),11px 11px 0px rgb(0, 0, 0),12px 12px 0px rgb(0, 0, 0),13px 13px 0px rgb(0, 0, 0),14px 14px 0px rgb(0, 0, 0),15px 15px 0px rgb(0, 0, 0),16px 16px 0px rgb(0, 0, 0),17px 17px 0px rgb(0, 0, 0),18px 18px 0px rgb(0, 0, 0),20px 20px 0px rgb(0, 0, 0);
}

#news ul li h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#news ul li .desc {
  line-height: 1.5;
  height: 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* autoprefixer: off */
}

/*$color: #111;
#header {
  .container {
    display: flex;

    #gnb {
      color: $color;
      .list {
        display: flex;
        @at-root .box {
          display: block;
        }
        // @at-root 붙이면괄호안에있지만 전역으로가능,근데잘안씀
        padding: (30px / 10);
        //계산은 웬만하면 괄호쓰고..
        background: {
          url: ("asdasd");
          size: cover;
          repeat: no-repeat;
        }
        li {
          &:hover .depth01 {
            //&는 부모를나타냄
            color: #f00;
          }
          .depth01 {
            display: flex;
          }
        }
      }
    }
  }
}
.business {
  color: $color;
}*/