.btns {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.btns .btn {
  height: 80px;
  padding: 0 50px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 168, 7);
  color: #fff;
  overflow: hidden;
  text-shadow: 1px 1px 0px #ed9a00,2px 2px 0px #ed9a00,3px 3px 0px #ed9a00,4px 4px 0px #ed9a00,5px 5px 0px #ed9a00,6px 6px 0px #ed9a00,7px 7px 0px #ed9a00,8px 8px 0px #ed9a00,9px 9px 0px #ed9a00,10px 10px 0px #ed9a00,11px 11px 0px #ed9a00,12px 12px 0px #ed9a00,13px 13px 0px #ed9a00,14px 14px 0px #ed9a00,15px 15px 0px #ed9a00,16px 16px 0px #ed9a00,17px 17px 0px #ed9a00,18px 18px 0px #ed9a00,19px 19px 0px #ed9a00,20px 20px 0px #ed9a00,21px 21px 0px #ed9a00,22px 22px 0px #ed9a00,23px 23px 0px #ed9a00,24px 24px 0px #ed9a00,25px 25px 0px #ed9a00,26px 26px 0px #ed9a00,27px 27px 0px #ed9a00,28px 28px 0px #ed9a00,29px 29px 0px #ed9a00,30px 30px 0px #ed9a00,31px 31px 0px #ed9a00,32px 32px 0px #ed9a00,33px 33px 0px #ed9a00,34px 34px 0px #ed9a00,35px 35px 0px #ed9a00,36px 36px 0px #ed9a00,37px 37px 0px #ed9a00,38px 38px 0px #ed9a00,39px 39px 0px #ed9a00,40px 40px 0px #ed9a00,41px 41px 0px #ed9a00,42px 42px 0px #ed9a00,43px 43px 0px #ed9a00,44px 44px 0px #ed9a00,45px 45px 0px #ed9a00,46px 46px 0px #ed9a00,47px 47px 0px #ed9a00,48px 48px 0px #ed9a00,50px 50px 0px #ed9a00;
  box-shadow: 0 10px 0 #d38900;
  transition: all 0.1s ease-in-out;
}
.btns .btn:active {
  box-shadow: 0 0 0 #d38900;
  transform: translateY(10px);
}

.txt {
  margin-top: 100px;
  width: 200px;
  border: 1px solid #999;
  padding: 20px;
}

p {
  line-height: 1.5;
  height: 4.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /* autoprefixer: off */
}

.box {
  margin-top: 100px;
  width: 500px;
  height: 500px;
  border: 1px solid #999;
  position: relative;
}
.box .inner {
  width: 100px;
  height: 100px;
  background-color: #f00;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}