<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INDEX</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/css/reset.css" />
    <!-- summurnote --------------- -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/summernote/summernote-bs4.min.css" />
    <!-- summurnote --------------- -->
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/lightpick.css" />
    <!-- lightpick ------------------ -->

    <script src="/js/jquery-3.6.0.min.js"></script>
    <!-- summurnote --------------- -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/summernote/summernote-bs4.min.js"></script>
    <!-- summurnote --------------- -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <!-- lightpick ------------------ -->
    <script src="/js/greensock/gsap.min.js"></script>
    <script src="/js/lightpick.js"></script>
  </head>
  <body>
    <header id="header">
      <h1 id="logo"><a href="/">BLOG</a></h1>
    </header>
  </body>
</html>
